<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobs App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon routerLink="/" routerLinkActive="active" >home</mat-icon>
  </button>
  <button *ngIf="isLoggedIn; else login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon routerLink="/" routerLinkActive="active" (click)="logout()">logout</mat-icon>
  </button>
  <ng-template #login>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon routerLink="/login" routerLinkActive="active">login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>

